@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior:smooth ;
}

   
                .fc-button {
                    background-color: #932a09 !important;
                    color: white !important;
                    border-radius: 0.375rem !important;
                    padding: 0.5rem 1rem !important;
                    font-size: 0.875rem !important;
                    border: none !important;
                    transition: all 0.3s ease !important;
                    margin-right: 10px !important ;
                }

                
                .fc-button:hover {
                    background-color: none !important;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
                }

                .fc-button:disabled {
                    background-color: #9ca3af !important; 
                    color: #d1d5db !important; 
                    cursor: not-allowed !important;
                }

             
                .fc-button.fc-button-active {
                    background-color: none !important;
                }

                .fc-toolbar-title {
                    font-size: 1.30rem !important;
                    font-weight: 700 !important;
                    color: #000 !important;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
                }





